body{
  background-image: url("./img/AdobeStock_249651043.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}
h1,h2{
  text-align: center; 
  color: black;
  font-family: 'Permanent Marker', cursive;
}

li {
  text-align: center;
    padding: 5px;
    margin: 5px;
    font-family: 'Permanent Marker', cursive;
    
  }
  
  .label {
    text-align: center;
    font-weight: bold;
  }
  
  .create-form {
    text-align: center;
    padding: 5px;
    margin: 5px;
    /* background: #faebd7; */
  }
  
  .form-group {
    align-content: center;
    margin-bottom: 5px;
    color: black;
    font-family: 'Permanent Marker', cursive;
    
  }

  .change-devoured {
    background-color: tomato;

  }
  .delete-burger {
    background-color: goldenrod;
  }

  button{
    text-align: center;
    border-radius: 10%;
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
  }
  header{
    background-color: rgba(126, 66, 26, 1);
    color: goldenrod;
    width: auto;
    padding: 20px;
    font-family: 'Permanent Marker', cursive;
  }
  .section-heading{
    background-color: rgba(218, 165, 32, 0.6);
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
  }

  .header-text{
    color: goldenrod;
  }
  .addburg {
    background-color:  rgba(126, 66, 26, 0.8);
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
  }

  .footer {
      background-color: black;
      color: tomato;
      font-weight: bolder;
      margin-top: 2rem;
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 1rem;
      text-align: center;
      font-family: 'Permanent Marker', cursive;
      
      

  }

  .card{
    text-align: center;
    background-color: goldenrod;
    color: green;
    font-family: 'Permanent Marker', cursive;
    border: black;
    font-size: larger;
    margin-bottom: 2rem;
  
  }